# Python
.python-version
__pycache__/
.pytest_cache

# Environment Variables
.env
.env.local
.env.production
.DS_Store

# VS Code
.vscode

# Databases
db.sqlite3

# Firebase / Google Cloud
# sylvan-presence*

# Django media folder
media
static
tests/testing_media
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Celery
celerybeat-schedule*
